.btn{
    border: none;
    outline: none;
    width: 100px;
    padding: 12px;
    background-color: rgb(108, 203, 206);
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(147, 210, 212);
}
.btn:active{
    background-color: rgb(89, 197, 202);;
}

.btnBlock{
    width: 100%;
}