#control{
    padding: 20px;
    margin: auto;
    max-width: 520px;
}
#box{
    border: 1px solid rgb(199, 197, 197);
    background-color: white;
    width: 100%;
    min-height: 50px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    cursor: pointer;
    /* border-radius: 10px; */
    background-color: tomato;
    margin: 5px;
    padding: 5px;
}


.action{
    width: 100%;
}
#inpText{
    border: 1px solid rgb(199, 197, 197);
    width: calc(100% - 105px);
    padding: 10px;
    outline: none;
    color: teal;
}
