#ruleta{
   position: relative;
   width: 520px;
   margin: auto;
}
#sel{
   position: absolute;
   width: 200px;
   top: calc(50% - 100px);
   right: -25%;
}

.girar{
   animation-name: girar;
   animation-duration: var(--time);
   animation-iteration-count: 1;
   animation-play-state: running;
   animation-fill-mode: forwards;
}
.paused{
   animation-play-state: paused;
}

@keyframes girar {
   10%{
      transform: rotate(-90deg);
   }
   100%{
      transform: rotate(var(--angulo));
   }
}

@media (max-width: 600px) {
   #ruleta{
      width: 260px;
   }
   #sel{
      width: 150px;
      top: calc(50% - 75px);
      right: -35%;
   }
}
